<div class="about-header">
  <h1 class="about-header">About Blocipedia</h1>
    <p class="about">Created by: Brandon Kunisch</p>
  <div class="about text">
    <p>Blocipedia is a scaled down web application modeled after Wikipedia.</p>
  </div>
</div>
