<br>
<div class="welcome-container">
  <h1 class="welcome-header">Blocipedia</h1>
  <br>    
  <h2 class="slogan"><em>Learn and share knowledge!</em></h2>
  <br><br>    
    <%= link_to "SIGN UP NOW!", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %> 
</div> 
