// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-container {
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(55, 91, 110);
  padding: 20px 40px 35px 40px;
}

h1.welcome-header {
  color: #23C4BA;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 120px;
}

h2.slogan {
  color: #23C4BA;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h1.about-header {
 color: #23C4BA; 
}

.about {
  text-align: left;
  color: #23C4BA;
}

.text{
  font-size: 20px;
}