// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-header {
  color: #23C4BA
}

.title {
  color: #23C4BA
}

.media-heading {
  color: #23C4BA
}

.col-md-4 {
  color: #23C4BA
}

.col-md-8 {
  color: #375B6E;
}
